apiVersion: apps/v1
kind: Deployment
metadata:
  name: platform-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: platform-app
  template:
    metadata:
      labels:
        app: platform-app
    spec:
      containers:
      - name: platform-app
        image: dineshpatil0908/platform-app:v3
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000

        env:
        - name: APP_VERSION
          valueFrom:
            configMapKeyRef:
              name: platform-config
              key: APP_VERSION
            
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 10

        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 5
